div.container1{
    margin-top: 20px;
    margin-left: 20px;
}

div.container2{
    margin-left: 20px;
}

div.container3{
    margin-left: 20px;
}

.l-1-box{
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

#blue-box{
    float: left;
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: blue;
}
#yellow-box{
    font-size: 40px;
    float: left;
    padding-top: 80px;
    box-sizing: border-box;
    background-color: yellow;
    margin-left: 250px;
}
#green-box{
    float: left;
    color: white;
    font-size: 20px;
    padding-top: 170px;
    box-sizing: border-box;
    text-align: center;
    background-color: green;
    margin-left: 150px;
}

#txt-box{
    height: 200px;
    width: 400px;
    float: left;
    margin-left: 250px;
    color: red;
    background-color: lightgray;
    border: 2px solid red;
}

#drop-area-1{
    float: left;
    border: 2px solid green;
    margin-left: 250px;
}

#drop-area-2{
    float: left;
    border: 2px solid black;
    margin-left: 400px;
}

img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

#img1-box{
    float: left;
    height: 200px;
    width: 200px;
    padding: 5px;
    margin-left: 250px;
    border: 1px solid black;
}
#img2-box{
    float: left;
    height: 200px;
    width: 200px;
    padding: 5px;
    margin-left: 250px;
    border: 1px solid black;
}
