.container1{
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    overflow: hidden;
}

.container2{
    margin-left: 20px;
    margin-top: 50px;
    overflow: hidden;
}

.container3{
    margin-top: 50px;
    margin-left: 20px;
}

.box-sm{
    height: 200px;
    width: 200px;
}

#blue-box{
    float: left;
    color: white;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: blue;
}
#yellow-box{
    float: left;
    padding-top: 80px;
    font-size: 40px;
    box-sizing: border-box;
    background-color: yellow;
    border: 1px solid black;
    margin-left: 250px;
}
#green-box{
    float: left;
    color: white;
    font-size: 20px;
    padding-top: 170px;
    box-sizing: border-box;
    text-align: center;
    background-color: green;
    border: 1px solid black;
    margin-left: 150px;
}
#img1-box{
    float: left;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-left: 250px;
}

#img2-box{
    float: left;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    cursor: move;
}

#txt-box{
    height: 200px;
    width: 500px;
    display: inline-block;
    margin-left: 250px;
    color: red;
    background-color: lightgray;
    border: 2px solid red;
}

#drop-area-1{
    float: left;
    text-align: center;
    border: 2px solid green;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 250px;
}

#drop-area-2{
    float: left;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 500px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

img{
    height: 180px;
    width: 180px;
    object-fit: cover;
}

